* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(8, 8, 8);
    border-radius: 12px;
    padding: 10px;
    display: in-line-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .left:hover {
    cursor: pointer;
    background-color: #ff0000;
}

nav .right {
    display: flex;
    gap: 20px;
    color: rgb(20, 9, 9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

nav .right span{
    cursor: pointer;
    padding: 10px;
    color: rgb(20, 9, 9);
    transition: color 0.3s ease;
}

nav .right span a{
    text-decoration: none;
    color: inherit;
}

nav .right span a:focus,
nav .right span a:active{
    color: red;
    font-weight: bold;

}
nav .right span:hover {
    color: red;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(14, 12, 12);
    border-radius: 20px;
    transition: background-color 0.4s;
}

.switch label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.switch input:checked + label {
    background-color: red;
}

.switch input:checked + label:before {
    transform: translateX(30px);
}

/* SECTION 1: Description */
.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
}

.description .text h2 {
    font-family:'Roboto Slab';
    font-weight: 500;
    font-size: 60px;
    color: rgb(255, 140, 0);
    margin-bottom: 20px;
    text-align: center;
}

.description .text p {
    font-family: 'Sans-serif';
    font-size: 40px;
    color: black;
}

.profile img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-right: 700px;  
}

.learn-more {
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}

.learn-more:hover {
    background-color: red;
}

/* Dark Mode styles */
body {
    background-color: rgb(230, 221, 221);
}

nav {
    background-color: rgb(197, 170, 235);
}

/* SECTION 2: ABOUT ME */
.about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-bottom: 200px;
}

.about-me .text {
    width: 50%;
    text-align: justify;
    text-indent: 40px;
}

.about-me h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 35px;
    color:rgb(197, 170, 235);
    margin-bottom: 10px;
    display: inline-block;
    position: relative; 
    padding-bottom: 10px;
}

.about-me h2::after {
    content: '';
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 40px;
    height: 5px;
    background-color: rgb(225, 33, 177);
}

.about-me p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height: 1.6;
    margin: 0;
}

.centered-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

/* SECTION 3: PROJECTS */

.projects {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

.projects h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 35px;
    color:rgb(197, 170, 235);
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.projects h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40px;
    height: 5px;
    background-color: rgb(225, 33, 177);
}

.project-gallery {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 100px 50px;
}

.project img {
    border: 5px solid;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.view-projects {
    text-align: center;
    margin-top: 5px;
}

.view-projects p {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: black;
}

.view-projects p:hover {
    color: red !important;
}

.say-hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 250px;
}

.square {
    width: 100px;
    height: 40px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.square:hover {
    background-color: blueviolet;
}

.square p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    color: black;
    transition: color 0.3s ease;
}

.square:hover p {
    color: white;
}

.solid-line {
    height: 2px;
    background-color: black;
    margin-top: 40px;
    width: 500px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

.social-icons .icon {
    font-size: 50px;
    color: black;
    transition: color 0.3s ease;
}

.social-icons .icon:hover {
    color:blue;
}

.footer {
    text-align: center;
    margin-top: 300px;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(13, 13, 13);
}

/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .about-me p{
    color: lightgray;
}

.description .text p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2F4F4F;   
}

body.dark-mode .description .text p {
    color: #D3D3d3;
}

nav.dark-mode {
    background-color:rgb(24, 24, 24);
}

.project img {
    border-color: white;
}

.view-projects p {
    color: white !important;
}

.footer {
    color: white;
}

.social-icons .icon {
    color: white;
}

.social-icons .icon:hover {
    color: blue;
}
